@import 'mixins';
@include global-reset;

body {
	background-color: #F5F8FA;
	@include font-default();
}
body.scroll {
  overflow: hidden;
}
.menu,
.mobile-menu {
	@include font_size(12px, 48px);
	font-family: 'HeliosC', Arial, Sans-Serif;
}
*:first-letter {
  text-transform: capitalize;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  color: #000000;
  padding-top: 80px;
	padding-bottom: 100px;
  @include border-box();
}

//Plates
.plates{
	margin-top: 30px;
	&>* {
		@include box-shadow(1px 1px 7px 0 rgba(145,145,145,.5));
	}
	&>*:first-child {
		@include border_radius(2px 2px 0 0);
	}
	&>*:last-child {
		@include border_radius(0 0 2px 2px);
	}
	&>*:not(:first-child) {
		margin-top: -1px;
	}
	.top {
		padding: 10px 20px;
		border: 1px solid $light_gray;
		background-color: $plate_top;
		color: $white;
	}
}
.plate {
	display: block;
	padding: 20px;
  border: 1px solid $light_gray;
  background-color: $white;
}
.plate.shift {
	&:hover {
		@include transform(translateX(5%));
	}
	@include transition(all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55));
}

//Posts
#posts {
  .plate .title {
		font-weight: 700;
		padding: 0 20px 20px 0;
	}

  button.range {
    width: 100%;
    padding: 10px 20px;
		border: 1px solid $light_gray;
    text-align: left;
  }
}

//Users
#users {
  p {
    margin: 10px 0;
  }
}

